@import "tailwindcss";

:root {
    --success-soft: #0084D1;
    /* green-300 */
    --success-light:#0084D1;
    /* green-400 */
    --success: #0084D1;
    /* green-500 */
    --success-strong: #0084D1;
    /* oldingi green-600 */
    --success-bold: #0084D1;
    /* green-700 */
    --success-deep: #0084D1;
    /* green-800 */
    --success-dark: #0084D1;
    /* green-900 */
    --success-light: #0084D1;
    --success-strong: #0084D1;
    --success-dark: #0084D1;
}
.swiper-pagination-bullet {
  background-color: #0084D1 !important; 
  opacity: 1;
}

.swiper-pagination-bullet-active {
  background-color: #0084D1 !important; 
}

.container {
    max-width: 1360px;
    margin: 0 auto;
    padding: 0 20px;
}